@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    --red:#e2574c;
}

body{
    margin: 0;
    padding: 0;
}

a{
    color: #000000;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
}

h1{
    font-weight: 300;
    color: #3c3c3c;
    font-size: 45px;
    text-align: center;
    margin: 100px auto 30px;
}

h1 span{
    font-weight: 500;
}

header div{
    background-color: var(--red);
    width: 110px;
    height: 3px;
    margin: 0 auto;
}

header p{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #797979;
    display: inline-block;
    max-width: 536px;
    margin: 0 auto;
    text-align: center;
    margin-top: 39px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.cards-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 65px auto 50px;
}

.cards{
    width: 364px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    margin-bottom: 29px;
}

.cards img{
    width: 100%;
}

.cards p{
    text-align: center;
}

.cards p:nth-child(2){
    color: #3c3c3c;
    font-size: 22px;
    font-weight: 500;
    margin: 30px auto 9px;

}

.cards p:nth-child(3){
    color: #797979;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.cards p:nth-child(4){
    color: var(--red);
    font-size: 18px;
    font-weight: 600;
    margin: 28px auto 21px;
}

.cards div{
    border-top: 1px solid #e6e6e6;
}

.cards div ul{
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.cards div ul li:first-child{
    list-style: none;
}

.cards div ul li{
    color: #797979;
    font-size: 15px;
    font-weight: 600;
}

button{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 18px 21px 17px;
    text-transform: uppercase;
    background-color: var(--red);
    border: none;
    border-radius: 5px 5px;
    width: 174px;
    margin: 0 auto;
}

/* Animation */

/* Responsive */

@media (min-width: 1201px){
    .cards-container{
        width: 1200px;
    }
}